@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 112.5%; /* 16px default font size X 62.5 = 10px => 1rem*/
}

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan : hsl(167, 40%, 24%);/*(graphic design text)*/
  --dark-blue: hsl(198, 62%, 26%); /* (photography text)*/
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --tab-color: #01abff;
}

#root {
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Fraunces', serif;  */
  min-height: 100vh; 
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home{
  width: 100vw;
  height: 100vh;
  /* border: 1px solid; */
  background-color: beige;
  background: url("./images/desktop/image-header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

header{
  width: 100vw;
  height: 5rem;
  background-color: transparent;
  /* border: 1px solid red; */
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2rem;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
}

.homeTab{
  margin-right: auto;
  /* font-family: 'Fraunces', serif; */
  font-weight: 700;
  font-size: 1.5rem;
}

.contactsTab{
  background-color: var(--tab-color);
  border-radius: 25px;
}

header li {
  float: left;
  margin-left: 1rem;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}

header li a:hover {
  background-color: var(--tab-color);
  border-radius: 25px;
}

.homeTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.homeTitle h1{
  font-family: 'Fraunces', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.arrowDown{
  margin-left: 7rem;
  margin-top: 5rem;
}

.services{
  width: 100vw;
  height: 100vh;
  /* border: 1px solid; */
  background-color: cornsilk;
}
