@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 112.5%; /* 16px default font size X 62.5 = 10px => 1rem*/
}

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan : hsl(167, 40%, 24%);/*(graphic design text)*/
  --dark-blue: hsl(198, 62%, 26%); /* (photography text)*/
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --tab-color: #01abff;
}

#root {
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Fraunces', serif;  */
  min-height: 100vh; 
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #90D4C5; */
}

.home{
  width: 100vw;
  height: 100vh;
  /* border: 1px solid; */
  background-color: beige;
  background: url("./images/desktop/image-header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

header{
  width: 100vw;
  height: 5rem;
  background-color: transparent;
  /* border: 1px solid red; */
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2rem;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
}

.homeTab{ 
  margin-right: auto;
  /* font-family: 'Fraunces', serif; */
  font-weight: 700;
  font-size: 1.5rem;
}

.homeTab:hover{
  background-color: #3EBFFF !important;
}

.contactsTab{
  background-color: var(--tab-color);
  border-radius: 25px;
}

header li {
  float: left;
  margin-left: 1rem;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}

header li a:hover {
  background-color: var(--tab-color);
  border-radius: 25px;
}

.homeTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.homeTitle h1{
  font-family: 'Fraunces', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.arrowDown{
  margin-left: 7rem;
  margin-top: 5rem;
}

.servicesGrid{
  width: 100vw;
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:600px 600px 600px;
}

.card1, .card2, .card3,.card4,.card5,.card6{
  /* border: 1px dotted red; */
  display: flex;
  flex-direction: column;
  color: black;
  padding: 7rem;
  color:var(--dark-grayish-blue)
}

.cardHeading{
  margin-bottom: 2rem;
  padding: 0 1rem 0 0;
}

.cardHeading h1{
  color: black;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 900;
}

.cardInfo{
  margin-bottom: 2.5rem;
}

.learnMoreLink {
  position: relative;
  text-decoration: none;
  color: #23303e;
  font-weight: 900;
  font-family: "Fraunces", serif;
  z-index: 100;
  text-transform: uppercase;
  cursor: pointer;
}

.card1{
  grid-column: 1/2;
  grid-row: 1/2;
}

.card2{
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url("./images/desktop/image-transform.jpg");
}

.card3{
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("./images/desktop/image-stand-out.jpg");
}

.card4{
  grid-column: 2/3;
  grid-row: 2/3;
}

.card5{
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url("./images/desktop/image-graphic-design.jpg");
}

.card6{
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url("./images/desktop/image-photography.jpg");
}

.card5, .card6{
  justify-content: flex-end;
  align-items: center;
  padding: 3rem !important;
}

.cardHeadingGraphic{
  padding-top: 2rem;
}

.cardInfoGraphic, .cardInfoPhotography{
  text-align: center;
}

.cardHeadingGraphic h1, .cardHeadingPhotography h1{
  color: black;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 900;
}

.testimonialsSection{
  padding: 6rem 3rem;
  color: black;
}

.testimonialsSectionHeading{
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color:var(--grayish-blue);
  font-family: "Fraunces", serif;
  letter-spacing: 0.2rem;
}

.testimonialsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.testimonial{
  text-align: center;
  padding: 0 2rem;
}

.userPicture{
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 70px;
  height: 70px;
}

.userFeedback{
  font-size: 0.9rem;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 2rem;
}

.userName{
  margin-bottom: 0.4rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.userRole{
  font-size: 0.6rem;
  color: var(--grayish-blue);
}

.projectsSection{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90D4C5;
}

/* .project{
  height: 100px !important;
  width: 200px;
} */

.projectPicture{
  width: 25vw;
  height: 500px;
}

footer{
  color: black;
  background-color: #90D4C5;
  padding: 5rem;
  text-align: center;
}

.footerHeading{
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--dark-desaturated-cyan);
}

.footerCategories{
  margin: 1rem 25%;
  width: 50%;
  color: var(--dark-moderate-cyan);
  display: flex;
  justify-content: space-between;
}

.footerCategories >div:hover{
  cursor: pointer;
  color:var(--white)
}

.footerSocialMediaIcons{
  margin: 2rem 30%;
  width: 40%;
  color: var(--dark-desaturated-cyan);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footerSocialMediaIcons > i:hover{
  color: white;
}